.app {
  text-align: center;
}

html {
  background-color: wheat;
}

header {
  padding: 80px;
    text-align: center;
    background-color: brown;
    color: wheat;
    font-size: 30px;
}

main{
  font: italic 1.2em "Fira Sans", serif;
}

p {
  text-align: center;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

nav {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(107, 60, 60);
  padding: 20px;
  font-size: 20px;
}
