.app {
  text-align: center;
}

html {
  background-color: wheat;
}

header {
  padding: 80px;
    text-align: center;
    background-color: brown;
    color: wheat;
    font-size: 30px;
}

main{
  font: italic 1.2em "Fira Sans", serif;
}

p {
  text-align: center;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

nav {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(107, 60, 60);
  padding: 20px;
  font-size: 20px;
}

.register-container {
  display: flex;
  flex-direction: column; /* Adjust the flex direction to stack items */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: calc(100vh - 80px); /* Adjust for header height */
}

.register-form {
  text-align: center;
  padding: 20px;
  background-color: wheat;
}

.register h1 {
  font-size: 30px;
  color: brown;
}

.register input {
  border: 1px solid brown;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add box shadow for a pop effect */
  transition: box-shadow 0.3s ease; /* Add transition effect to smooth the pop effect */
}

.register input:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Enhance box shadow when focused */
}

.register button {
  background-color: brown;
  color: wheat;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add box shadow for a pop effect */
  transition: box-shadow 0.3s ease; /* Add transition effect to smooth the pop effect */
}

.register button:hover {
  /* Enhance box shadow on hover */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Additional styles for the link */
.register a {
  text-decoration: none;
  color: wheat;
  font-size: 16px;
}

.register-page .app-header {
  display: flex;
  justify-content: space-between; /* Justify content to the right */
  align-items: center; /* Align items vertically */
  padding: 80px;
  background-color: brown;
  color: wheat;
  font-size: 30px;
}

.register-page .app-header > div {
  display: flex;
  align-items: center;
}

.register-page .app-header a {
  text-decoration: none;
  color: wheat;
  font-size: 16px;
}